<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-custom.css">

</head>

<body class="bg-body-tertiary">
    <!-- Body -->
    <!-- Breadcrumb -->
    <div class="container mb-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Du lịch</a></li>
                <li class="breadcrumb-item"><a href="#">Trong nước</a></li>
                <li class="breadcrumb-item"><a href="#">Miền Bắc</a></li>
                <li class="breadcrumb-item active d-inline-block text-truncate" style="max-width: 40vh;" aria-current="page">Hà Nội - Lào Cai - Quảng Ninh - Ninh Bình: Sapa - Bản Cát Cát - Fansipan Hạ Long - Động Thiên Cung - Yên Tử - Kdl Tràng An - Bái Đính</li>
            </ol>
        </nav>
    </div>
    <!-- Title -->
    <h2 class="container fs-3">Hà Nội - Lào Cai - Quảng Ninh - Ninh Bình: Sapa - Bản Cát Cát - Fansipan Hạ Long - Động Thiên Cung - Yên Tử - Kdl Tràng An - Bái Đính</h2>
    <!-- Detail -->
    <div class="container">
        <div class="row">
            <!-- img, detail -->
            <div class="col-8">a
                <!-- images -->
                 <div class="row">
                    <div class="col-3">img phuj</div>
                    <div class="col-9">img chính</div>
                 </div>
            </div>
            <!-- Bảng giá -->
            <div class="col-4">
                <div class="bg-body shadow-sm border rounded p-3">
                    <div class="h6">Giá từ:</div>
                    <div><span class="text-primary h5">12.790.000 VNĐ</span>/khách</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>




    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>