<!DOCTYPE html>
<html lang="en" data-bs-theme="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE TRAVEL - danh muc tour</title>
    <link rel="shortcut icon" href="../assets/image/logo_BeeTravel.png" type="image/x-icon">

    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <!-- Fonaweosome -->
    <link href="../assets/fontawesome-free-6.6.0-web/css/fontawesome.css" rel="stylesheet" />
    <link href="../assets/fontawesome-free-6.6.0-web/css/brands.css" rel="stylesheet" />
    <link href="../assets/fontawesome-free-6.6.0-web/css/solid.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-custom.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="bg-secondary bg-opacity-10">
    <style>
        a.fs-2::before {
            content: "";
            width: 4px;
            height: 1.5rem;
            background: #ed1c24;
            position: absolute;
            left: 0;
            top: 0.75rem;
        }
    </style>
    <!-- head tin tức -->
    <div class="card text-bg-dark">
        <img src="../assets/image/contact.jpg" class="card-img object-fit-cover" height="200px" alt="...">
        <div class="card-img-overlay bg-black bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
            <h2 class="card-title">Trang tin tức</h2>
            <p class="card-text">This is a breadcrumb.</p>
        </div>
    </div>

    <!-- category -->
    <section class="container mt-4">
        <a href="" class=" me-2 fs-2 fw-bold text-body text-decoration-none position-relative ps-2">DU LỊCH</a>
        <a href="" class=" me-2 fw-bold pb-1 link-body-emphasis opacity-75 text-decoration-none">Điểm đến</a>
        <a href="" class=" me-2 fw-bold pb-1 link-body-emphasis opacity-75 text-decoration-none">Ẩm thực</a>
        <a href="" class=" me-2 fw-bold pb-1 link-body-emphasis opacity-75 text-decoration-none">Dấu chân</a>
        <a href="" class=" me-2 fw-bold pb-1 link-body-emphasis opacity-75 text-decoration-none">Cẩm nang</a>
        <hr class="m-0 p-0">
    </section>


    <!-- nội dung -->
    <section class="container my-4">
        <div class="row">
            <div class="col-9 border-end ">
                <div class="card text-center">
                    <img src="https://i1-giadinh.vnecdn.net/2024/10/01/1-45-5346-1727581073-172775001-5670-6100-1727750017.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=wox5Ngh44k9hauDBydfiWg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chàng trai Vũng Tàu 16 tháng độc hành qua 63 quốc gia, vùng lãnh thổ</h5>
                        <p class="card-text">Bà Rịa - Vũng TàuTrọng Thắng, 27 tuổi, chi 1,4 tỷ đồng rong chơi khắp các châu lục trong suốt 16 tháng như một cách mở mang tầm mắt, trải nghiệm cuộc sống.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center mb-3">

                    <img src="https://i1-giadinh.vnecdn.net/2024/10/01/1-45-5346-1727581073-172775001-5670-6100-1727750017.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=wox5Ngh44k9hauDBydfiWg" class="card-img-top object-fit-cover" height="150px" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Chàng trai Vũng Tàu 16 tháng độc hành qua 63 quốc gia, vùng lãnh thổ</h5>
                    </div>
                </div>
                <hr class="mx-4">
                <div class="card text-center mb-3">
                    <img src="https://i1-giadinh.vnecdn.net/2024/10/01/1-45-5346-1727581073-172775001-5670-6100-1727750017.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=wox5Ngh44k9hauDBydfiWg" class="card-img-top object-fit-cover" height="150px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chàng trai Vũng Tàu 16 tháng độc hành qua 63 quốc gia, vùng lãnh thổ</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <div class="card text-center mb-3">
                    <img src="https://i1-giadinh.vnecdn.net/2024/10/01/1-45-5346-1727581073-172775001-5670-6100-1727750017.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=wox5Ngh44k9hauDBydfiWg" class="card-img-top object-fit-cover" height="150px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chàng trai Vũng Tàu 16 tháng độc hành qua 63 quốc gia, vùng lãnh thổ</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center mb-3">
                    <img src="https://i1-giadinh.vnecdn.net/2024/10/01/1-45-5346-1727581073-172775001-5670-6100-1727750017.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=wox5Ngh44k9hauDBydfiWg" class="card-img-top object-fit-cover" height="150px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chàng trai Vũng Tàu 16 tháng độc hành qua 63 quốc gia, vùng lãnh thổ</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center mb-3">
                    <img src="https://i1-giadinh.vnecdn.net/2024/10/01/1-45-5346-1727581073-172775001-5670-6100-1727750017.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=wox5Ngh44k9hauDBydfiWg" class="card-img-top object-fit-cover" height="150px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chàng trai Vũng Tàu 16 tháng độc hành qua 63 quốc gia, vùng lãnh thổ</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center mb-3">
                    <img src="https://i1-giadinh.vnecdn.net/2024/10/01/1-45-5346-1727581073-172775001-5670-6100-1727750017.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=wox5Ngh44k9hauDBydfiWg" class="card-img-top object-fit-cover" height="150px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chàng trai Vũng Tàu 16 tháng độc hành qua 63 quốc gia, vùng lãnh thổ</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- banner tin tức -->
    <section class="mb-4">
        <img src="../assets/image/contact.jpg" alt="" height="200px" width="100%" class="object-fit-cover">
    </section>

    <!-- danh mục tin tức -->
    <section class="container">
        <div class="row">

            <div class="col-9">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <p class="card-text">Tên tỉnh thành ở miền Bắc được Chủ tịch Hồ Chí Minh đặt vào năm 1963, mang ý nghĩa "rộng lớn và yên vui".</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <p class="card-text">Tên tỉnh thành ở miền Bắc được Chủ tịch Hồ Chí Minh đặt vào năm 1963, mang ý nghĩa "rộng lớn và yên vui".</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <p class="card-text">Tên tỉnh thành ở miền Bắc được Chủ tịch Hồ Chí Minh đặt vào năm 1963, mang ý nghĩa "rộng lớn và yên vui".</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <p class="card-text">Tên tỉnh thành ở miền Bắc được Chủ tịch Hồ Chí Minh đặt vào năm 1963, mang ý nghĩa "rộng lớn và yên vui".</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3 bg-body-secondary bg-opacity-10 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h5 class="card-title h6 mb-1">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <span>50 like</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card mb-3 bg-body-secondary bg-opacity-10 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h5 class="card-title h6 mb-1">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <span>50 like</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card mb-3 bg-body-secondary bg-opacity-10 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h5 class="card-title h6 mb-1">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <span>50 like</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card mb-3 bg-body-secondary bg-opacity-10 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i1-dulich.vnecdn.net/2024/09/28/5-1727522556-1727522568-6904-1727522598.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=QdIbjuSQQYafA7oM47tmaw" height="100%" width="100%" class="object-fit-cover " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h5 class="card-title h6 mb-1">Tỉnh nào ở Việt Nam được Chủ tịch Hồ Chí Minh đặt tên?</h5>
                                <span>50 like</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </section>
</body>

</html>