<!DOCTYPE html>
<html lang="en" data-bs-theme="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-custom.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/custom-buy.css">
</head>

<body>
    <div class=" bg-body-secondary pt-3">
        <div class="container">
            <!-- note -->
            <div class="alert alert-danger">
                <h1>Task</h1>
                <ol>
                    <li>Dựng layout</li>
                </ol>

            </div>
            <div class="alert alert-success">
                <h1>Done</h1>
                <ol>
                    <li>Tạo page</li>
                </ol>

            </div>

            <!-- MAIN -->
            <section class="bg-body p-2 mb-3 rounded">
                <div class="row">
                    <div class="col-6 d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="text-primary">ĐẶT CHỖ THÀNH CÔNG</h4>
                        <p>Cảm ơn Quý khách đã quan tâm đến BeeTravel <br> Đơn hàng của Quý khách đang được xử lý</p>
                        <div class="text-bg-primary w-75 p-2">
                            <span>MÃ ĐẶT CHỖ</span>
                            <h2 class="fw-bolder">1</h2>
                        </div>
                        <p class="w-75">
                            Nhân viên của chúng tôi sẽ liên hệ với Quý khách trong thời gian sớm nhất. Nếu có thắc mắc. Quý khách vui lòng liên hệ qua số hotline <span class="text-primary">1900-13-15-17</span> Xin chân thành cảm ơn Quý khách hàng!
                        </p>
                    </div>
                    <div class="col-6 overflow-hidden">
                        <img src="../assets/image/imrs2.png" alt="" class="w-100">
                    </div>
                </div>
            </section>


            <section class="bg-body p-2 mb-3 rounded pt-3">
                <p>Chào quý khách <strong class="text-primary">beetravel</strong></p>
                <p>Cảm ơn quý khách đã đặt dịch vụ của BeeTravel</p>
                <p class="m-0">Nhân viên của chúng tôi sẽ liên hệ với Quý khách trong thời gian sớm nhất. Nếu có thắc mắc, quý khách vui longf liên hệ qua số hotline <span class="text-primary">1900-13-15-17</span>. Xin chân thành cảm ơn Quý khách hàng!</p>
            </section>


            <section class="bg-body py-2 mb-3 rounded pt-3">
                <div class="px-2 border-bottom border-light-subtle">
                    <strong class="text-primary">Trạng thái tour</strong>
                </div>
                <div class="row p-2">
                    <div class="col-md-4 mb-3">
                        <div class="alert alert-warning m-0">
                            <div class="card">
                                <div class="card-header">
                                  Trạng thái thanh toán
                                </div>
                                <div class="card-body">
                                    <h5>Chưa thanh toán</h5>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="alert alert-success m-0">
                            <div class="card">
                                <div class="card-header">
                                  Trạng thái tour
                                </div>
                                <div class="card-body">
                                    <h5>Chưa xuất phát / Đã xuất phát / Đã hoàn thành</h5>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="bg-body py-2 mb-3 rounded">
                <div class="px-2 border-bottom border-light-subtle">
                    <strong class="text-primary">Hồ sơ đặt chỗ</strong>
                </div>
                <div class="px-2 pb-2">
                    <table class="table table-borderless w-auto">
                        <tr>
                            <td>Mã đặt chỗ</td>
                            <th class="text-primary">1</th>
                        </tr>
                        <tr>
                            <td>Trạng thái đặt chỗ</td>
                            <th>Giữ chỗ</th>
                        </tr>
                        <tr>
                            <td>Khởi hành</td>
                            <th>giờ , ngày tháng năm</th>
                        </tr>
                        <tr>
                            <td>Tổng giá</td>
                            <th class="text-primary"><strong>giá ở đây</strong></th>
                        </tr>
                    </table>
                    <div class="p-2 bg-primary bg-opacity-25 border border-primary mx-2">
                        <strong>Cảm ơn Quý khách đã đặt dịch vụ trên BeeTravel. Đơn hàng của Quý khách đang được xử lý. BeeTravel sẽ liên hệ lại Quý khách trong thời gian sớm nhất</strong>
                    </div>
                </div>
            </section>
            <section class="bg-body py-2 mb-3 rounded">
                <div class="px-2 border-bottom border-light-subtle">
                    <strong class="text-primary">Thông tin tour</strong>
                </div>
                <div class="card mb-3 border-0 p-2">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../assets/image_tour/1729670564_Đà Nẵng Hội An Huế2.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-primary fw-bold">Card title</h5>
                                <table class="table table-borderless w-auto">
                                    <tr>
                                        <td>icon cờ</td>
                                        <td>Mã tour: 1</td>
                                    </tr>
                                    <tr>
                                        <td>icon clock</td>
                                        <td>7 ngày 6 đêm</td>
                                    </tr>
                                    <tr>
                                        <td>icon date</td>
                                        <td>Khởi hành vào ...</td>
                                    </tr>
                                    <tr>
                                        <td>icon cờ</td>
                                        <td>Nhà tổ chức</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-body p-2 mb-3 rounded">
                <strong class="text-primary">Hàng Khách</strong>
                <table class="table table-borderless w-auto">
                    <tr>
                        <td>người lớn (x3)</td>
                    </tr>
                    <tr>
                        <td>Hàng khách 1</td>
                        <th>Quý ông</th>
                        <th>Huỳnh Can</th>
                        <th>20/09/2004</th>
                    </tr>
                    <td>người trẻ em (x3)</td>
                    <tr>
                        <td>Hàng khách 1</td>
                        <th>Quý ông</th>
                        <th>Huỳnh Can</th>
                        <th>20/09/2004</th>
                    </tr>
                </table>
            </section>

            <div class="text-center pb-3">
                <a href="" class="btn btn-primary px-4 "> icon lui, VỀ TRANG ĐẶT TOUR</a>
            </div>
        </div>
    </div>



    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>