<!DOCTYPE html>
<html lang="en" data-bs-theme="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE TRAVEL - Thông tin cá nhân</title>
    <link rel="shortcut icon" href="../assets/image/logo_BeeTravel.png" type="image/x-icon">

    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <!-- Fonaweosome -->
    <script src="https://kit.fontawesome.com/0e14ebdea1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-custom.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="bg-secondary bg-opacity-10">

    <!-- head profile -->
    <section>
        <div class="card text-bg-dark">
            <img alt="..." src="../assets/image/head01.jpg" class="card-img object-fit-cover" height="200px" width="100%">
            <div class="card-img-overlay bg-black bg-opacity-50 d-flex justify-content-center align-items-center">
                <h2 class="card-title">Thông tin của tôi</h2>
            </div>
        </div>
    </section>

    <!-- thong tin  -->
    <section class="container my-4">
        <div class="row">
            <!-- navbar người dùng -->
            <div class="col-3 p-2">
                <!-- avatar -->
                <div class="card border-0 mb-3" style="background-color: inherit;">
                    <div class="row g-0">
                        <div class="col-md-3 d-flex align-items-center">
                            <img src="../assets/image/logo_BeeTravel.png" width="100%" class="object-fit-cover rounded-circle bg-body" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title h6">Du Lịch Cùng Bee Travel</h5>
                                <p class="card-text"><small class="text-body-secondary"><i class="bi bi-pen"></i> Sửa hồ sơ</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- nav -->
                <div class="d-flex flex-column">
                    <div class="d-flex gap-1">

                        <div class="d-flex flex-column">
                        </div>
                    </div>
                    <a href="user-account-profile.html" class="text-decoration-none"><i class="bi bi-person link-primary"></i> Tài khoản của tui</a>
                    <a href="user-account-profile.html" class="text-decoration-none px-4 link-body-emphasis">Hồ sơ</a>
                    <a href="user-account-payment.html" class="text-decoration-none px-4 link-body-emphasis">Ngân hàng</a>
                    <a href="user-setting-notification.html" class="text-decoration-none px-4 link-body-emphasis">Cài đặt thông báo</a>
                    <a href="user-setting-security.html" class="text-decoration-none px-4 link-body-emphasis">Bảo mật</a>
                    <a href="user-booking.html" class="text-decoration-none link-success"> <i class="bi bi-clipboard-minus"></i> Chuyến đi của tui</a>
                    <a href="user-notifications-order" class="text-decoration-none link-danger"><i class="bi bi-bell link-danger"></i> Thông báo</a>
                </div>
            </div>


            <!-- hiển thị thông tin -->
            <div class="col-9 px-2">
                <div class="bg-body p-2 rounded" style="min-height: 300px;">
                    <div>
                        <h2 class="fs-4 fw-normal mb-0">Bảo mật</h2>
                        <p class="opacity-50">Thay đổi cài đặt bảo mật, thiết lập xác thực an toàn hoặc xóa tài khoản của bạn.</p>
                    </div>
                    <hr class="opacity-100">
                    <div class="container">

                        <div class="container d-flex justify-content-between align-items-center">
                            <div>
                                <p class="h6 mb-0">Thay đổi mật khẩu</p>
                                <p class="opacity-50">Bạn nên thay đổi 6 tháng một lần để đảm bảo tài khoản an toàn nhất</p>
                            </div>
                            <a href="">Thay đổi</a>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-between align-items-center">
                            <div>
                                <p class="h6 mb-0">Xác thực 2 yếu tố</p>
                                <p class="opacity-50">Tăng tính bảo mật cho tài khoản của bạn bằng cách thiết lập xác thực hai yếu tố.</p>
                            </div>
                            <a href="">Cài đặt</a>
                        </div>
                        <hr>
                        <div class="container d-flex justify-content-between align-items-center">
                            <div>
                                <p class="h6 mb-0">Xóa tài khoản</p>
                                <p class="opacity-50">Xóa vĩnh viễn tài khoản BeeTravel.com của bạn</p>
                            </div>
                            <a href="">Xóa tài khoản</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>